@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer components{

  .background-image {
    background-image: radial-gradient(
      circle 1292px at -13.6% 51.7%,
      rgba(0, 56, 68, 1) 0%,
      rgba(163, 217, 185, 1) 51.5%,
      rgba(255, 252, 247, 1) 88.6%
    );
  }
  



}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
